<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net461" />
  <package id="CefSharp.Common" version="55.0.0" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="55.0.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" requireReinstallation="true" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net461" />
  <package id="Fody" version="3.2.9" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.279-pre" targetFramework="net45" />
  <package id="Prism.Wpf" version="7.1.0.279-pre" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net461" />
  <package id="Stylet" version="1.1.21" targetFramework="net461" />
</packages>