<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" requireReinstallation="true" />
  <package id="Fody" version="3.2.9" targetFramework="net461" developmentDependency="true" />
  <package id="Prism.Core" version="7.1.0.279-pre" targetFramework="net45" />
  <package id="Prism.Wpf" version="7.1.0.279-pre" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net461" />
  <package id="Stylet" version="1.1.21" targetFramework="net461" />
</packages>